extends base

block content
    main.main
        .signup-form
            h2.heading-secondary.ma-bt-lg Sign up for an account
            //- form.form.form--signup
            form.form.form--signup(method='POST', action='/api/v1/users/signup')
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='text', placeholder='Your name', name='name', required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', name='email', required)
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', name='password', required, minlength='8')
                .form__group
                    label.form__label(for='passwordConfirmation') Confirm Password
                    input#passwordConfirmation.form__input(type='password', placeholder='••••••••', name='passwordConfirmation', required, minlength='8')
                .form__group
                    label.form__label(for='role') Role (optional)
                    select#role.form__input(name='role')
                        option(value='user') User
                        option(value='guide') Guide
                .form__group
                    button.btn.btn--green(type="submit") Sign Up
